@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::checkmark{
    --grey:#f1f0f6; 
    --dark-grey: #8d8d8d;
    --ligth: #fff;
    --dark: #000;
    --green: #81d43a;
    --light-green: #e3ffcb;
    --dark-blue: #0c5fcd;
    --blue: #1775f1;
    --red: #fc3b56;
}

html{
    overflow-x: hidden;
}

body{
    background-color: var(--grey);
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none; /*PARA QUITAR LOS PUNTOS DE LAS LISTAS*/
}

.divTable{
    padding: 10px;
    width: auto;
    height: inherit;
    overflow: auto;
}

.divTable::-webkit-scrollbar{
    border-radius: 12px;
    background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-corner{
    border-radius: 10px;
    background-color: darkgray;
}


/*CSS MENU LATERAL*/
#menuLateral{
    position:fixed;
    max-width: 260px;
    width: 100%;
    background: var(--ligth);
    top:0;
    left:0;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all .3 ease;
    z-index: 200;
}

#menuLateral.hide{
    max-width: 60px;
}

#menuLateral.hide:hover{
    max-width: 260px;
}

#menuLateral ::-webkit-scrollbar{
    display: none;
}

#menuLateral .menuLateral__brand{
    font-size: 24px;
    display: flex;
    align-items: center;
    height: 64px;
    font-weight: 700;
    color: var(--blue);
    position: sticky;
    top: 0;
    left:0;
    z-index: 100;
    background: var(--ligth);
    transition: all .3 ease;
    padding: 0 6px;
}

#menuLateral .menuLateral__icon{
    min-width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

#menuLateral .menuLateral__icon--right{
    transition: all .3 ease;
    margin-left: auto;
}

#menuLateral .menuLateral__side-menu{
    margin: 38px 0;
    padding: 0 20px;
    transition: all .3 ease;
}

#menuLateral.hide .menuLateral__side-menu{
    margin: 0 6px;
}

#menuLateral.hide:hover .menuLateral__side-menu{
    padding: 0 20px;
}

#menuLateral.hide .menuLateral__side-menu a{
    display: flex;
    align-items: center;
    fill-rule: 14px;
    color: var(--dark);
    padding: 12px 16px 12px 0;
    transition: all .3 ease;
    border-radius: 10px;
    margin: 4px 0;
    white-space: nowrap;
}

#menuLateral.hide .menuLateral__side-menu > li> a:hover{
    background-color: var(--grey);
}

#menuLateral.hide .menuLateral__side-menu > li> a.active .menuLateral__icon--right{
    transform: rotateZ('90deg');
}

#menuLateral .menuLateral__side-menu > li> a,
#menuLateral .menuLateral__side-menu > li> a:hover{
    background-color: var(--blue);
}

#menuLateral .menuLateral__divisor{
    margin-top: 24px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--dark-grey);
    transition: all .3s ease;
    white-space: nowrap;
}

#menuLateral.hide:hover .menuLateral__divisor{
    text-align: left;
}

#menuLateral.hide .menuLateral__divisor{
    text-align: center;
}

#menuLateral .menuLateral__side-dropdown{
    padding-left: 54px;
    max-height: 0;
    overflow-y: hidden;
    transition: all .15 ease;
}

#menuLateral .menuLateral__side-dropdown.show{
    max-height: 1000;
}

#menuLateral .menuLateral__side-dropdown a:hover{
    color:var(--blue);
}

/*content*/
#Content{
    position: relative;
    width: calc(100% -260px);
    left: 260px;
    transition: all .3 ease;
}

#menuLateral.hide + #content{
    width: calc(100% -60px);
    left: 60px;
}

nav{
    background: var(--ligth);
    height: 64px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    grid-gap: 28px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

nav .nav__toggle-sidebar{
    font-size: 18px;
    cursor: pointer;
}

nav .nav__form-group{
    position: relative;
}

nav .nav__form-group .nav__form-group--input{
    width: 100%;
    background: var(--grey);
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px 36px 10px 16px;
    transition: all .3 ease;
}

nav .nav__form-group .nav__form-group--icon{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right: 16px;
    color: var(--dark-grey)
}

nav .nav__link-icon{
    position: relative;
}

nav .nav__link{
    position: realtive;
}

nav .nav__link .nav__link-icon{
    font-size: 18px;
    color: var(--dark)
}

nav .nav__link .nav__link-badge{
    position: absolute;
    top: -12px;
    right: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid var(--ligth);
    background: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--ligth);
    font-size: 10px;
    font-weight: 700;
}

nav .nav__divider{
    width: 1px;
}